.face {
    width: 50%;
}
body {
    background-color: rgb(228, 217, 217);
    color: rgb(5, 0, 0);
}
p, ul > li {
    font-size: larger;
    list-style-position: inside;
    padding-left: 5%;
    padding-right: 5%;
}
.context {
    border-left-style: solid;
    border-color: rgba(80, 100, 150);      
    border-width: 2px;
}
.eh {
    padding-top: 1em;
}
.intro {
    align-content: center;
}
.content {
    border-radius:.25em;
    box-sizing:border-box;
    border-color: black;
    padding:10vmin;
    position:relative;
    text-align:center;
}
.slug {
    font-family: 'Open Sans', sans-serif;
}
.navbar-nav > li{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    
  }
.nav-left, .nav-right{
flex: 1;
}
.about-right {
    text-align: center;
}
.row {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}
.bi {
    flex: 50%;
}
.career-dates {
    border-right-style: solid;
    border-color: rgba(80, 100, 150);      
    border-width: 2px;
    flex: 33%;
    text-align: center;
}
.career-titles > h4 {
    padding-left: 7%;
    padding-right: 7%;
}
.career-titles {
    flex: 66%;
    
}
.divider {

    padding-top: 5%;
    padding-bottom: 5%;
}
ol {
    list-style-type: decimal;
    text-align: center;
    display: flex;
    justify-content: space-between;
 }
 .container {
     display: block;
 }
 .navbar-light {
     background-color: rgb(61, 89, 245);
 }
 .nav-link     {
    color: white !important;
    margin-right: 2em;
 }
 .navbar-brand {
    color: white !important;
 }
.tri {
    flex: 33%;
    align-content: center;
}
@media screen and (max-width: 800px) {
    .tri{
        flex: 100%;
    }
    .bi {
        flex: 100%;
        justify-content: center;
        text-align: center;
    }
    .face {
        width: 75%;
    }
    .context {
        border-left-style: none;
        border-color: rgb(0, 0, 0);
        border-width: 1px;
    }
    section {
        padding-top: 20%
    }
    .career-dates {
        border-width: 0px;
        flex: 100%;
    }
    .career-titles {
        flex: 100%;
        text-align: center;
    }
  }
  @media screen and (max-width: 800px) {
    .face {
        width: 60%;
    }
  }