.navbar-nav > li{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
  }
.nav-left, .nav-right {
flex: 1;
}
ol {
    list-style-type: decimal;
    text-align: center;
    display: flex;
    justify-content: space-between;
 }
 .container {
     display: block;
 }
 .navbar-light {
     background-color: rgb(14, 4, 104);
 }
 .nav-link     {
    color: white !important;
    margin-right: 2em;
 }
 .navbar-brand {
    color: white !important;
 }
 